/* login page animation */

/* .intro {
    background: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    background: rgb(18, 50, 68);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}

.intro-text {
    color: rgb(233, 233, 233);
    font-family: "Heebo", sans-serif;
    font-family: "Lobster", cursive !important;
    font-size: 2rem !important;
}

.h-front {
    font-size: 6em !important;
    
    color: white;
}

.hide {
    
    overflow: hidden;
}

.hide span {
    transform: translateY(100%);
    display: inline-block;
} */

.avg-call-box {
    overflow: hidden;
    position: relative;
    padding: 0;
}

.avg-call-box li {
    list-style: none;
    text-align: center;
    border-style: solid;
    border-color: rgb(244 247 252);
    border-width: 0 0 2px 0px;
}

.avg-call-box li .call-box {
    margin: 32px 0px;
    padding: 0px 30px;
    border-style: solid;
    border-color: rgb(244 247 252);
    border-width: 0 0 0px 2px;
}

.avg-call-box li:first-child .call-box {
    border-left-width: 0;
}

.avg-call-box li:nth-child(3) .call-box {
    border-left-width: 0;
}

.avg-call-box li:nth-child(3),
.avg-call-box li:nth-child(4) {
    border-bottom-width: 0;
}

.avg-call-box li h4 {
    font-weight: 600;
    margin-bottom: 12px;
    font-size: 32px;
}